#!/bin/sh

# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# Edit common rc files
alias zshrc="${EDITOR} ~/.zshrc"
alias sshrc="${EDITOR} ~/.ssh/config"
alias hosts="${EDITOR} /etc/hosts"
alias zz="source ~/.zshrc"

# Always enable colored `grep` output
alias grep='grep --color=auto '

# untar
alias untar='tar xvf'

# git
alias g='git'

# ranger
alias lf='ranger'

# misc
alias h='history'
alias tf='terraform'
alias tg='terragrunt'
alias k='kubectl'

# df & du
alias df='df -h'
alias disksize='df -h'
alias dirsize='du -sh * | sort -n'
alias dirsize2='du -bsh .'
