[user]
  name = Aldo Borrero
  email = aldo@aldoborrero.com

[core]
  editor = subl -n -w
  pager = cat
  excludesfile = ~/.gitignore

[color]
  status = auto
  branch = auto
  diff = auto
  interactive = auto
  ui = true

[alias]
  st = status -sb

  ci = commit
  cm = commit -m
  ca = commit --ammend

  co = checkout
  cb = checkout -b

  br = branch

  merge = merge --no-ff --no-commit

  df = diff
  slog = log --all --graph --decorate --oneline -n30

  ignore = !git update-index --assume-unchanged
  unignore = !git update-index --no-assume-unchanged
  ignored =  !echo "Ignored files:" && git ls-files -v | grep "^[[:lower:]]" | awk '{print $2}'

  h = help

[format]
  pretty = %h - %an, %ar : %s

[help]
  autocorrect = 1

[merge]
  tool = Kaleidoscope

[diff]
  tool = Kaleidoscope

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true

[difftool]
  prompt = false

[mergetool]
  prompt = false
