# My big but useful gitignore
# ---------------------------
#
# Removes the crap, keeps the good.
# 
# Based on the work done here:
# https://github.com/github/gitignore
# 
# Remember to do git config --global core.excludesfile ~/.gitignore
#

# -----------------------------------------
# OSX related
# -----------------------------------------

.DS_Store
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# -----------------------------------------
# Python related
# -----------------------------------------

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# -----------------------------------------
# Vim related
# -----------------------------------------

*.swp
*.swo
.*.sw[a-z]
*.un~

# -----------------------------------------
# Android related
# -----------------------------------------

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# generated GUI files
*R.java

# -----------------------------------------
# Django related
# -----------------------------------------

*.log
*.pot
local_settings.py

# -----------------------------------------
# Java related
# -----------------------------------------

*.class

# -----------------------------------------
# Ruby related
# -----------------------------------------

coverage
rdoc
pkg
test/tmp
test/version_tmp
tmp
pkg
*.gem
*.rbc
lib/bundler/man
spec/reports
.config
InstalledFiles
.bundle

# YARD artifacts
.yardoc
_yardoc
doc/

# -----------------------------------------
# LaTeX related
# -----------------------------------------

*.aux
*.bbl
*.blg
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.toc
*.fdb_latexmk
*.pdfsync
*.synctex.gz
*.nav
*.snm
*.vrb
